<h1>Add Destination</h1>

<form action="/destinations/add" method="POST">
  <label>Name:</label>
  <input type="text" name="name" required><br>

  <label>Location:</label>
  <input type="text" name="location" required><br>

  <label>Description:</label>
  <textarea name="description"></textarea><br>

  <button type="submit">Add</button>
</form>
