<!DOCTYPE html>
<html>
<head>
  <title>Add Destination</title>
</head>
<body>
  <h1>Add a New Destination</h1>
  <form method="POST" action="/destinations">
    <input type="text" name="name" placeholder="Name" required><br>
    <input type="text" name="location" placeholder="Location"><br>
    <textarea name="description" placeholder="Description"></textarea><br>
    <button type="submit">Add Destination</button>
  </form>
  <p><a href="/destinations">Back to Destinations</a></p>
</body>
</html>
